.logo {
  display: flex;
  align-items: center;
  gap: rem(10);
  flex-wrap: nowrap;
  position: relative;
  z-index: 5;

  &__icon {
    width: rem(38);
    height: rem(40);
    fill: var(--color-primary);
  }
  &__text {
    font-size: rem(32);
    color: var(--color-primary);
    font-weight: 600;
    line-height: lh(36, 32);
    letter-spacing: em(3, 32);
  }
}

.theme-toggler {
  display: inline-block;
  cursor: pointer;
  width: rem(48);
  height: rem(24);
  position: relative;
  z-index: 5;

  &__input {
    width: 0;
    height: 0;
    opacity: 0;

    &:checked + .theme-toggler__slider::before {
      left: calc(100% - rem(22));
    }
  }
  &__slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary-opacity);
    border-radius: rem(16);

    &::before {
      content: '';
      position: absolute;
      width: rem(20);
      height: rem(20);
      border-radius: rem(20);
      background-color: var(--color-primary);
      top: 50%;
      transform: translateY(-50%);
      left: rem(2);
      transition: left 0.2s ease-in-out, background-color 0.2s ease-in-out;
    }
  }
}

.button {
  min-height: rem(45);
  padding: 5px 12px;
  font-size: rem(20);
  line-height: 1;
  background-color: var(--accent-color-opacity);
  border: rem(2) solid var(--accent-color);
  border-radius: rem(15);
  transition: background-color 0.2s ease-in-out;
  color: var(--color-primary);

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--accent-color-opacity-hover);
    }
  }
  &:active {
    background-color: var(--accent-color);
  }

  &__icon {
    width: rem(20);
    height: rem(20);
    fill: var(--color-primary);
  }

  &_header {
    padding: 5px 25px;
    border-radius: rem(5);
  }
}
