// Scss Functions
@import 'functions.scss';

/*===Reset Styles===*/
@import 'nullstyle.scss';

/*===============Global styles===============*/

:root {
  --primary-font-family: 'Noto Sans', sans-serif;
}

html {
  position: relative;

  @media (prefers-color-scheme: dark) {
    & {
      --bg-primary: #171717;

      --color-primary: #f9f9f9;
      --color-primary-opacity: rgba(249, 249, 249, 0.2);
      --color-primary-opacity-modal: rgba(249, 249, 249, 0.6);

      --color-secondary: #444444;
      --color-secondary-opacity: rgba(68, 68, 68, 0.4);

      --accent-color: #da0037;
      --accent-color-opacity: rgba(218, 0, 55, 0.2);
      --accent-color-opacity-hover: rgba(218, 0, 55, 0.5);
    }
  }

  &.dark {
    --bg-primary: #171717;

    --color-primary: #f9f9f9;
    --color-primary-opacity: rgba(249, 249, 249, 0.2);
    --color-primary-opacity-modal: rgba(249, 249, 249, 0.6);

    --color-secondary: #444444;
    --color-secondary-opacity: rgba(68, 68, 68, 0.4);

    --accent-color: #da0037;
    --accent-color-opacity: rgba(218, 0, 55, 0.2);
    --accent-color-opacity-hover: rgba(218, 0, 55, 0.5);
  }
  &.light {
    --bg-primary: #f9f9f9;

    --color-primary: #171717;
    --color-primary-opacity: rgba(23, 23, 23, 0.2);
    --color-primary-opacity-modal: rgba(23, 23, 23, 0.6);

    --color-secondary: #cdf0ea;
    --color-secondary-opacity: rgba(205, 240, 234, 0.4);

    --accent-color: #c490e4;
    --accent-color-opacity: rgba(196, 144, 228, 0.2);
    --accent-color-opacity-hover: rgba(196, 144, 228, 0.5);
  }

  &.is-burger {
    position: fixed;
  }
  &.is-modal {
    position: fixed;
  }
}

body {
  font-family: var(--primary-font-family);
  font-weight: 500;
  color: var(--color-primary);
  background-color: var(--bg-primary);
  position: relative;

  &.is-burger {
    overflow: hidden;
  }
  &.is-modal {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: rem(1320);
  padding: 0 rem(20);
  margin: 0 auto;
}

/*===BEM Blocks===*/
@import 'common.scss';

/*===Header===*/
@import 'header.scss';

main {
  flex: 1 0 auto;
}

/*===============Hero===============*/

.hero {
  &__container {
    padding: rem(80) rem(5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.content-hero {
  padding: rem(20);
  background-color: var(--color-secondary-opacity);
  border: rem(2) solid var(--color-secondary);
  border-radius: rem(30);
  text-align: center;

  & > *:not(:last-child) {
    margin-bottom: rem(20);
  }

  &__title {
    font-size: rem(32);
    font-weight: 600;
    line-height: lh(44, 32);
    letter-spacing: em(2, 32);

    @media (max-width: 991.98px) {
      font-size: rem(24);
    }
    @media (max-width: 479.98px) {
      font-size: rem(18);
    }
  }
  &__image {
    img,
    video {
      max-width: 100%;
      max-height: rem(400);
    }
  }
}
.button {
  &.is-active &__icon_svg {
    display: none;
  }
  &.is-active &__icon_loader {
    display: inline-block;
  }

  &__icon {
    width: rem(20);
    height: rem(20);
  }
}
.loader {
  border: rem(2) solid var(--color-primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  display: none;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*===Footer===*/
@import 'footer.scss';
