// Scss Functions
@import 'functions.scss';

/*===Reset Styles===*/
@import 'nullstyle.scss';

/*===============Global styles===============*/

:root {
  --primary-font-family: 'Noto Sans', sans-serif;
}

html {
  @media (prefers-color-scheme: dark) {
    & {
      --bg-primary: #171717;

      --color-primary: #f9f9f9;
      --color-primary-opacity: rgba(249, 249, 249, 0.2);

      --color-secondary: #444444;
      --color-secondary-opacity: rgba(68, 68, 68, 0.4);

      --accent-color: #da0037;
      --accent-color-opacity: rgba(218, 0, 55, 0.2);
      --accent-color-opacity-hover: rgba(218, 0, 55, 0.5);
    }
  }

  &.dark {
    --bg-primary: #171717;

    --color-primary: #f9f9f9;
    --color-primary-opacity: rgba(249, 249, 249, 0.2);

    --color-secondary: #444444;
    --color-secondary-opacity: rgba(68, 68, 68, 0.4);

    --accent-color: #da0037;
    --accent-color-opacity: rgba(218, 0, 55, 0.2);
    --accent-color-opacity-hover: rgba(218, 0, 55, 0.5);
  }
  &.light {
    --bg-primary: #f9f9f9;

    --color-primary: #171717;
    --color-primary-opacity: rgba(23, 23, 23, 0.2);

    --color-secondary: #cdf0ea;
    --color-secondary-opacity: rgba(205, 240, 234, 0.4);

    --accent-color: #c490e4;
    --accent-color-opacity: rgba(196, 144, 228, 0.2);
    --accent-color-opacity-hover: rgba(196, 144, 228, 0.5);
  }
}

body {
  font-family: var(--primary-font-family);
  font-weight: 500;
  color: var(--color-primary);
  background-color: var(--bg-primary);

  &.is-fixed {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

/*===BEM Blocks===*/
@import 'common.scss';

/*===Header===*/
@import 'header.scss';

/*===Footer===*/
@import 'footer.scss';

/*===============Hero===============*/

main {
  flex: 1 0 auto;
}
